h1 {
    color:rgb(231, 48, 35);
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

body {
    background-color:rgb(43, 44, 44);
}

nav {
    float: right;
}

nav ul li[aria-current]{
    background-color:grey;
}

.list_right {
    float: right;
}


.headbar {
    display:inline-block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#shopping_cart {
    display:inline-block;
    background-color: #333;
    color: white;
    padding:9px 16px;
    position: relative;
    top: 5px;
    
}

#headbar:hover:not(.active) {
    background-color: rgb(211, 43, 43);
}

.cart_table, .cart_items {
    border: 1px solid white;
    border-collapse: collapse;
    color: white;
    font-size: 18px;
    text-align: center;
}

.cart_header_items {
    border: 1.5px solid white;
    color: white;
    font-size: 20px;
}

.buy {
    display: block;
    height:50px;
    width:150px !important;
    padding: 0;
    font-size: large;
    color: rgb(204, 202, 202);
    text-decoration: none;
    background-color: #333;
    border-color: white;
    cursor:pointer;
    margin: 0 auto;
  
}

.text_labels {
    color: white;
    font-size: large;
    font-family: courier;
}

#testorder {
    width: 20px;
    height: 20px;
    padding: 12px;
    margin: 20px;
    cursor: pointer;
    border: 2px solid lightgray;
    background-color: black;
}

#page1 {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.form_items {
    margin: 20px 0;
}

#name {
    margin: 20px 0;
}

#page2 {
    display: none;
    text-align: center;
}

#qrcode {
    display: flex; 
    justify-content: center; 
    text-align: center;
    width: 260px;
    margin: 0 auto;
    background-color: white;  
    padding: 15px;

}

.label {
    color: white;
    text-align: center;
}

