h1 {
    color:rgb(231, 48, 35);
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

body {
    background-color:rgb(43, 44, 44);
}

#gaming {
    background-color: rgb(255, 98, 77);
    width: 400px;
    height: 730px;
    padding: 10px;
    border: 5px rgb(255, 83, 15) solid;
    margin:20px 0px;
}

#work {
    background-color: rgb(255, 98, 77);
    width: 400px;
    height: 680px;
    padding: 10px;
    border: 5px rgb(255, 83, 15) solid;
    margin:20px 0px;
}

#server {
    background-color: rgb(255, 98, 77);
    width: 400px;
    height: 600px;
    padding: 10px;
    border: 5px rgb(255, 83, 15) solid;
    margin:20px 0px;
}

#move_text {
    padding-left:20px
}

  
.list_right {
    float: right;
}



#headbar {
    display:inline-block;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#shopping_cart {
    display:inline-block;
    background-color: #333;
    color: white;
    padding:9px 16px;
    position: relative;
    top: 5px;
    
}

#headbar:hover:not(.active) {
    background-color: rgb(211, 43, 43);
}

.buy_product {

    display: block;
    font-size: large;
    color: rgb(204, 202, 202);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    background-color: rgb(44, 44, 44);
    position: relative;
    left:55px;

}

.category_div  {
    text-align: center;

}

#category_list {
    padding: 0;
    margin: 0;
    
}


#categories li {

    background-color: #696969;
    display: inline-block;
    padding: 4px 5px;

}

#gaming_button {
    background-color: rgb(235, 99, 99);
    font-size: 100%;
    border: none;
    color: white;
    font-family: fantasy;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
}

#work_button {
    background-color: rgb(233, 71, 71);
    font-size: 100%;
    border: none;
    color: white;
    font-family: fantasy;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
}

#server_button {
    background-color: rgb(230, 39, 39);
    font-size: 100%;
    border: none;
    color: white;
    font-family: fantasy;
    padding: 10px 12px;
    text-align: center;
    text-decoration: none;
}



.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#reminder {
    display: none;
    margin:0px;
    background-color: grey;
    text-align: center;
    font-size: 27px;
    padding: 5px;
}


.product_text {
    list-style-type: none;
    font-size: 21px;
}

#init_message {
    display: none;
    margin:0px;
    text-align: center;
    font-size: 27px;
    padding: 5px;
}

